<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">



<configuration>

	<!-- 引入外部文件 -->
	<!-- <properties resource="xx.properties" /> -->
	
	<!-- 设置 -->
	<!-- 开启日志 工厂,mybatatis提供了一些日志工厂实现的选项-->
	<!-- 显示开启全局缓存,又叫二级缓存，默认也是开启的 ,要使用二级缓存，还需要在mapper.xml中配置 标签 <cache  /> -->
	<settings>		
		<setting name="logImpl" value="STDOUT_LOGGING"/>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<!-- mybatis缓存，有一级缓存和二级缓存
	一级缓存 是sqlsession级别，默认开启。作用域低，一般不管
	二级缓存 是 nameSpace级别的。 一般一个mapper都是使用单一的命名空间nameSpace。可以自定义来实现，也可以使用mybatis已经实现的
	
	 -->
	<!-- setting 二级缓存  -->
	
	<!-- 别名 -->
	<typeAliases>
		<!-- <package name="cn.itcast.core.bean"/> -->
	</typeAliases>
	
	<!-- 配置里设置数据源 ，也可以再spring中注入mybatis时注入-->
<!-- 	<environments default="devlopment">
		<environment id="devlopment">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">			
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments> -->
	
	
	<!-- Mapper位置，
	mybatis-spring 中配置的扫描文件夹位置
	第一：接口与Mapper在一个文件夹下
	第二：接口与Mapper文件名相同
	才能扫描 
	
	下面这种配置，无对应接口的方式，需要在这里经行如下配置	
	-->
	<mappers>
	    <mapper  resource="scanerpac/mybatisDao/sys/sys_select1.xml"/>
	</mappers>

</configuration>